<h2>Please enter your information in the fields below to place your order.</h2>

<div>
  <label>First Name: 
    <input [(ngModel)]="mailtext.firstName" placeholder="First">
  </label>
</div>

<div>
  <label>Last Name: 
    <input [(ngModel)]="mailtext.lastName" placeholder="Last">
  </label>
</div>

<div>
  <label>Your email Address (for order confirmation and follow up questions): 
      <input [(ngModel)]="mailtext.emailAdd" placeholder="example@cookies.com">
  </label>
</div>

<div>
  <label>How many cookies would you like? (Multiple of 10 please) 
    <input [(ngModel)]="mailtext.orderAmount" placeholder="100">
  </label>
</div>

<div>
  <label>Describe the designs you would like. A maximum of 2 designs per 10 cookies are allowed without extra charge. 
    <input [(ngModel)]="mailtext.description" placeholder="Surprise me.">
  </label>
</div>

<!--Perhaps each of these fields should be properties of some component. They'll begin with default values, and if someone enters anything into them without submitting,
navigating away from the page can save the values. So if someone decides to go to the gallery for ideas, their name and email address will still be ther when they return.-->